.captcha {
  background-color: white;
  border: 3px solid black;
  border-radius: 8px;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 80vw;
  height: fit-content;
  padding: 10px;
}

.captcha__main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.captcha__image-container {
  display: block;
}

.captcha__image {
  box-shadow: 5px 5px 5px 5px gray;
  font-weight: 400;
  user-select: none;
  text-decoration: line-through;
  font-style: italic;
  font-size: 86px;
  border: red 2px solid;
  padding: 0;
}

.captcha__form-div {
  display: flex;
  justify-content: space-between;
}

.captcha__form {
  max-width: 100%;
  font-size: 18px;
}

.captcha__input {
  border-width: 5px;
}

.captcha__submit {
  margin: 0;
  padding: 5px;
  font-size: 18px;
  height: fit-content;
  align-self: flex-end;
}

.captcha__close-button {
  position: absolute;
  bottom: -20px;
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  padding: 3px;
}
@media screen and (max-width: 768px) {
  .captcha__image {
    font-size: 24px;
  }
  .captcha__form {
    font-size: 10px;
  }
  .captcha__close-button {
    font-size: 10px;
  }
  .captcha__submit {
    font-size: 12px;
  }
}
