.education {
  background-image: url(../images/darkroom.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px black solid;
  border-radius: 12px;
}

.education__title {
  margin: 20px 0;
  background-image: url("../images/glowing.gif");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(6, 126, 255);
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  outline: auto;
  outline-color: red;
  border-radius: 8px;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.education__dates {
  text-align: center;
  color: rgb(0, 247, 255);
}

.education__icons {
  padding: 5px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
}

.education__icons-item {
  min-width: fit-content;
  min-height: fit-content;
}

.education__icons-button {
  background-color: rgba(0, 0, 0, 0);
  height: 100px;
  width: 150px;
  background-size: contain;
  border: 2px black solid;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.education__icons-button1 {
  background-color: rgba(0, 0, 0, 0);
  height: 100px;
  width: 250px;
  background-size: contain;
  border: 2px black solid;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.education__icons-button2 {
  background-color: rgb(255, 255, 255);
  border: 2px black solid;
  padding: 5px;
  height: 50px;
  width: 225px;
  border: 2px black solid;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.education__paragraph {
  margin: 0px;
  background-color: rgba(184, 224, 104, 0.425);
  padding: 10px 20px;
  border-radius: 16px;
  font-size: 18px;
  color: rgb(255, 117, 221);
  outline-width: 2px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

@media screen and (max-width: 768px) {
  .education__title {
    font-size: 20px;
  }

  .education__paragraph {
    font-size: 12px;
  }
}
