.footer {
  margin-top: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer__div {
  position: relative;
  align-items: center;
  padding: 20px;
  background-image: url("../images/marble.avif");
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 4px solid black;
  border-radius: 16px;
}

.footer__copyright {
  background-color: aliceblue;
  width: fit-content;
  font-size: 20px;
  font-weight: 600;
  order: 4px solid black;
  border-radius: 8px;
  padding: 5px;
  margin: 0px;
}

.footer__update {
  background-color: aliceblue;
  width: fit-content;
  font-size: 16px;
  font-style: italic;
  order: 4px solid black;
  border-radius: 8px;
  padding: 5px;
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 12px;
  }
  .footer__update {
    font-size: 10px;
  }
}
