.header {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
  height: 100%;
  max-width: 84vw;
  width: 100%;
}
.header__title {
  margin: 0;
  display: relative;
  align-self: flex-start;
  justify-content: flex-start;
  width: fit-content;
  text-align: center;
  text-wrap: wrap;
  font-size: 40px;
  font-weight: 700;
}

.header__nav {
  display: relative;
  align-self: end;
  margin-right: 35px;
}

.header__links {
  list-style: none;
  display: flex;
  gap: 20px;
  text-wrap: nowrap;
  flex-wrap: wrap;
  padding: 0 50px 0 0;
  margin: 0;
  font-size: 16px;
  width: fit-content;
  justify-content: end;
  align-items: end;
}

.header__link {
  display: flex;
  justify-content: end;
  width: fit-content;
}

.header__link-ref {
  background-color: rgba(0, 0, 0, 0);
  width: fit-content;
  color: black;
  border-radius: 8px;
  padding: 5px;
  margin: 0;
  text-decoration: none;
}

@media screen and (max-width: 1400px) {
}
