.header {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.header__title {
  position: relative;
  left: 20px;
  top: 5px;
  margin: 0;
  font-size: 48px;
  font-weight: 900;
  font-family: "REM", "Times New Roman", Times, serif;
  text-shadow: 2px 2px coral;
}

.header__nav {
  display: relative;
  align-self: flex-end;
}

.header__links {
  padding: 20px 0;
  list-style: none;
  display: flex;
  text-wrap: nowrap;
  flex-wrap: wrap;
  margin: 0;
  font-size: 16px;
  width: fit-content;
  justify-content: end;
  align-items: end;
  gap: 10px;
  row-gap: 0;
}

.header__link {
  display: flex;
  justify-content: end;
  width: fit-content;
}

.header__link-ref {
  background-color: rgba(0, 0, 0, 0);
  width: fit-content;
  color: black;
  border-radius: 8px;
  padding: 5px;
  margin: 0;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 320px) {
  .header__links {
    flex-direction: column;
  }
}
