.introduction {
  background-image: url(../images/blue2.png);
}
.introduction__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
}

.introduction__title {
  font-size: 24px;
  font-weight: 600;
}

.introduction__text {
  width: fit-content;
  text-wrap: auto;
  font-size: 20px;
  font-weight: 500;
}
