.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  margin-right: 20px;
  background-size: cover;
  max-width: 76vw;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px black solid;
  border-radius: 12px;
}

.section__education {
  background-image: url(../images/blue2.png);
  min-width: 250px;
  min-height: 250px;
  background-repeat: no-repeat;
  background-position: center;
}

.section__demonstrations {
  background-image: url(../images/blue2.png);
  min-width: 250px;
  min-height: 250px;
  background-repeat: no-repeat;
  background-position: center;
}

.section__career-goals {
  background-image: url(../images/blue2.png);
  min-width: 250px;
  min-height: 250px;
  background-repeat: no-repeat;
  background-position: center;
}
