.panel {
  display: block;
  position: fixed;
  align-self: flex-start;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15vw;
  height: 100vh;
  padding: 10px;
}

.panel__personal {
  margin: 0;
  padding: 10px;
  background-image: url(../images/panel_background.png);
  border: #212121;
  border-radius: 8px;
  height: 100vh;
  max-width: 15vw;
  position: absolute;
  left: 0;
  top: 0;
  scale: calc(15vw * 0.01);
}

.panel__identity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.panel__identity-image {
  background-image: url(../images/resumephoto.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-position: center;
  border: 3px solid #212121;
  border-radius: 8px;
  padding: 10px;
  align-self: center;
  width: 100%;
  max-width: 100px;
  height: 150px;
  max-height: 150px;
}

.panel__identity-name {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.panel__stats {
  background-color: rgba(243, 221, 149, 0.6);
  border: #212121;
  border-radius: 8px;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  font-size: 12px;
  grid: 100%;
}

.panel__stat-age {
  width: fit-content;
  justify-content: left;
}

.panel__stat-gender {
  width: fit-content;
  justify-content: right;
}

.panel__stat-location {
  width: 100%;
  text-align: center;
}

.panel__contact {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.panel__contact-item {
  padding: 0;
  margin: 0;
}

.span__text {
  color: blue;
}

@media screen and (max-width: 850px) {
}
