.main {
  display: flex;
  overflow: hidden;
  width: 1250px;
  height: 900px;
}

.main__div {
  position: absolute;
  width: 900px;
  height: 900px;
  border: 2px solid black;
  background-image: "";
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: no-repeat;
  background-color: black;
  overflow: hidden;
}
.main__map-canvas {
  position: absolute;
  width: 900px;
  height: 900px;
  border: 2px solid black;
  background-image: "";
  background-position-x: 0;
  background-position-y: 0;
  overflow: hidden;
  background-repeat: no-repeat;
}
.player__div {
  position: fixed;
  left: 400px;
  top: 400px;
  width: 100px;
  height: 100px;
  background-color: aqua;
}
