.panel {
  left: 900px;
  position: fixed;
  background-color: rgb(120, 120, 0);
  border: 3px black solid;
  width: 300px;
  height: 900px;
  border: 2px black solid;
  border-radius: 8px;
}
.panel__stats {
  width: 280px;
  padding: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 10px;
}
.panel__bar-container {
  width: 100%;
  background: #333;
  border: 1px solid #555;
  border-radius: 10px;
  overflow: hidden;
  height: 25px;
  position: relative;
}

.panel__bar {
  height: 100%;
  transition: width 0.3s ease;
}

.panel__health-bar {
  width: 240px;
  background: linear-gradient(90deg, red, darkred);
}

.panel__mana-bar {
  width: 240px;
  background: linear-gradient(90deg, blue, darkblue);
}

.panel__xp-bar {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  width: 240px;
  background: linear-gradient(90deg, gold, darkorange);
}

.panel__bar-label {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  line-height: 25px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.panel__display__level {
  background-color: darkslateblue;
  border: 1px black solid;
  padding: 0;
  margin: 0;
  right: 0;
  width: 60px;
  position: relative;
  font-size: 20px;
  color: white;
}

.panel__statsgold {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.panel__mini-map {
  margin: 10px;
  position: relative;
  background-color: rgb(115, 184, 190);
  width: 280px;
  height: 280px;
  border: 2px black solid;
  border-radius: 8px;
}

.panel__options {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 300px;
  height: 60px;
}

.panel__options-btn {
  padding: 5px;
  width: 50px;
  height: 50px;
  border: 2px black solid;
  border-radius: 5px;
}

.panel__inventory {
  margin: 5px;
  background-color: rgb(230, 158, 99);
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  width: 290px;
  height: 280px;
  border: 2px black solid;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}
